[package]
name = "diffuse"
version = "3.0.2"
description = "A music player that connects to your cloud/distributed storage"
authors = ["you"]
license = ""
repository = ""
default-run = "diffuse"
edition = "2021"
build = "src/build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.0.0-rc.4", features = [] }

[dependencies]
serde_json = "^1.0"
serde = { version = "^1.0", features = ["derive"] }
tauri = { version = "1.0.0-rc.4", features = ["api-all"] }
tauri-plugin-localhost = { git = "https://github.com/icidasset/tauri-plugin-localhost.git", branch = "dev" }
window-shadows = { version = "^0.1.0" }
window-vibrancy = { version = "^0.1.0" }

[dependencies.tauri-plugin-window-state]
git = "https://github.com/tauri-apps/tauri-plugin-window-state"
branch = "renovate/tauri-1.x"

[features]
default = [ "custom-protocol" ]
custom-protocol = [ "tauri/custom-protocol" ]
