[package]
name = "diffuse"
version = "3.0.0-beta-3"
description = "A music player that connects to your cloud/distributed storage"
authors = ["you"]
license = ""
repository = ""
default-run = "diffuse"
edition = "2018"
build = "src/build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.0.0-beta.3" }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "1.0.0-beta.5", features = ["api-all"] }

[features]
default = []
custom-protocol = [ "tauri/custom-protocol" ]
