[package]
name = "diffuse"
version = "3.2.0"
description = "A music player that connects to your cloud/distributed storage"
authors = ["you"]
license = ""
repository = ""
default-run = "diffuse"
edition = "2021"
build = "src/build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "^1.2.1", features = [] }

[dependencies]
serde_json = "^1.0"
serde = { version = "^1.0", features = ["derive"] }
tauri = { version = "^1.2.3", features = ["dialog-all", "fs-all", "http-all", "path-all", "shell-open", "shell-open-api", "window-all"] }
tauri-plugin-localhost = { version = "^0.1.0" }
tauri-plugin-window-state = { version = "^0.1.0" }

[features]
default = [ "custom-protocol" ]
custom-protocol = [ "tauri/custom-protocol" ]
