@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100 900;
  src: url("../../fonts/PublicSans[wght].woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 100 900;
  src: url("../../fonts/PublicSans-Italic[wght].woff2") format("woff2");
}
