<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <!-- UI -->
    <main>
    </main>

    <!-- Engines -->
    <de-audio group="shared"></de-audio>
    <de-queue group="shared"></de-queue>

    <!-- Inputs, Outputs & Processors -->
    <dop-indexed-db></dop-indexed-db>
    <dp-metadata></dp-metadata>

    <di-opensubsonic id="input"></di-opensubsonic>

    <!-- Transformers -->
    <dtor-default id="output" output-selector="dtos-json"></dtor-default>
    <dtos-json output-selector="dop-indexed-db">now</dtos-json>

    <!-- Orchestrators -->
    <do-process-tracks
      input-selector="#input"
      metadata-processor-selector="dp-metadata"
      output-selector="#output"
    ></do-process-tracks>

    <do-queue-audio
      input-selector="#input"
      audio-engine-selector="de-audio"
      queue-engine-selector="de-queue"
    ></do-queue-audio>

    <do-queue-tracks
      input-selector="#input"
      output-selector="#output"
      queue-engine-selector="de-queue"
    ></do-queue-tracks>

    <!-- Scripts -->
    <script src="index.js" type="module"></script>
  </body>
</html>
