:root {
  /* Colors */
  --color-1: oklch(4.1308% 0.25306 109.22);
  --color-2: oklch(98.369% 0.01834 67.664);
  --color-3: oklch(26.787% 0.00168 186.65);

  /* Orange/Red */
  /*--accent: oklch(86.947% 0.25527 28.789);*/
  /*--accent: hsl(51, 100%, 50%);*/
  /*--accent: #9e86b8;*/

  /* Green */
  /*--accent: hsl(120, 73.4%, 74.9%);*/
  --accent: hsl(82, 39%, 30.2%);
  /*--accent: hsl(80, 60.5%, 34.7%);*/

  /* Blue */
  /*--accent: hsl(203, 92%, 75.5%);*/

  --bg-color: var(--color-2);
  --text-color: var(--color-1);

  --code-color: oklch(from var(--bg-color) calc(l - 0.0375) c h / 1);
  --form-color: oklch(from var(--bg-color) calc(l - 0.075) c h / 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #9e86b8;

    --bg-color: var(--color-3);
    --text-color: var(--color-2);

    --code-color: oklch(from var(--bg-color) calc(l + 0.0375) c h / 1);
    --form-color: oklch(from var(--bg-color) calc(l + 0.075) c h / 1);
  }
}
