---
layout: layouts/constituent.vto
base: ../../../

styles:
  - styles/base.css
  - styles/diffuse/page.css
  - styles/vendor/phosphor/fill/style.css

scripts:
  - index.js
---

<header>
  <div>
    <div>
      <a class="diffuse-logo" href="./" style="display: inline-block;">
        {{ await comp.diffuse.logo() }}
      </a>
    </div>
    <p class="construct dither-mask" style="margin-top: 0;">
      Constituent loader ❈
    </p>
    <p>
      <strong>Missing a feature, or prefer a different user interface that is not part of Diffuse? Add it here.</strong> This tool allows you to load a custom <a href="#constituents">constituent</a> besides the <a href="#constituents">existing ones</a>.
    </p>
  </div>
  <div class="dither-mask filler"></div>
</header>
<main>
  <!-- LIST -->
  <div class="columns" style="margin-top: var(--space-2xl);">
    <div class="dither-mask filler flex"></div>

    <section class="flex">
      <h2 id="yours" style="margin-top: 0;">Yours</h2>

      <p style="margin-bottom: 0;">
        <i class="ph-fill ph-info"></i> You have not added any constituents yet. Add or create some using the tools below.
      </p>
    </section>
  </div>

  <!-- GENERATE + COMMUNITY -->
  <div class="columns">
    <section class="flex">
      <h2 id="generate">Generate</h2>
      <p>
        <small><i class="ph-fill ph-check-square"></i> On the todo list, the idea is to have AI generate a piece of UI for you; building on the logical blocks provided by Diffuse.</small>
      </p>
    </section>

    <section class="flex">
      <h2 id="community">Community</h2>
      <!--<p>
        Check out some constituents from the community and load them here.
      </p>-->
      <p>
        <small><i class="ph-fill ph-info"></i> Nothing here yet, too early.</small>
      </p>
    </section>
  </div>

  <!-- CONSTRUCT -->
  <section>
    <h2 id="build">Build</h2>

    <div class="columns">
      <div class="flex">
        <p style="margin-top: 0">
          If you know a bit of HTML & Javascript, you can write your own or plug in some code you found elsewhere:
        </p>

        <form>
          <textarea class="monospace-font" placeholder="<code>goes here</code>"></textarea>
        </form>
      </div>

      <div class="flex">
        <p style="margin-top: 0">
          Your code here builds on the <a href="themes/loader/constituent/#foundation">foundation</a> listed below, it'll be injected into a <code>&lt;body&gt;</code> element.
        </p>
        <p>
          <span class="button-row">
            <button disabled>Save</button>
            <button disabled>Save &amp; Open</button>
            <button disabled>Preview</button>
          </span>
        </p>
        <p>
          Add dependencies for:
        </p>
        <form>
          <select>
            <button>
              <selectedcontent></selectedcontent>
            </button>
            <option>Playing audio</option>
            <option>Adding items to the queue</option>
            <option>Browsing collection</option>
          </select>
        </form>
        <p>
          <span class="button-row">
            <button disabled>Add code</button>
          </span>
        </p>
      </div>
    </div>
  </section>

  <!-- FOUNDATION -->
  <section>
    <h2 id="foundation">Foundation</h2>

    <div class="columns">
      <div class="flex">
        <p>
          The default configuration for constituents includes the following elements which are loaded automatically:
        </p>
        <ul>
          <li>
            <span>Orchestrator / Input</span>
            <div class="list-description">
              <small>A prebuilt input configuration with all inputs Diffuse has to offer.</small>
            </div>
          </li>
          <li>
            <span>Orchestrator / Output</span>
            <div class="list-description">
              <small>A prebuilt output configuration with all outputs and their appropriate transformers.</small>
            </div>
          </li>
          <li>
            <span>Orchestrator / Process inputs into tracks<br /><small>(processing on launch)</small></span>
            <div class="list-description">
              <small>Lists all inputs, gathers metadata and then creates tracks where needed.</small>
            </div>
          </li>
          <li>
            <span>Processor / Metadata</span>
            <div class="list-description">
              <small>Processor that fetches metadata of audio files and streams.</small>
            </div>
          </li>
        </ul>
      </div>

      <div class="flex">
        <p>
          Besides this the foundation provides most other elements preconfigured. These are lazy loaded so you do need to call the method in order to load it.
        </p>

        <div class="code-block">
          <code>
            {{- echo -}}
              import { lazy } from "common/constituents/default/config.js"
            {{ /echo }}
{{ echo -}}lazy.engine.audio(){{- /echo }}
{{ echo -}}lazy.engine.queue(){{- /echo }}

{{ echo -}}lazy.orchestrator.queueAudio(){{- /echo }}
{{ echo -}}lazy.orchestrator.queueTracks(){{- /echo }}
{{ echo -}}lazy.orchestrator.repeatShuffle(){{- /echo }}
{{ echo -}}lazy.orchestrator.searchTracks(){{- /echo }}
{{ echo -}}lazy.orchestrator.sources(){{- /echo }}

{{ echo -}}lazy.processor.artwork(){{- /echo }}
{{ echo -}}lazy.processor.search(){{- /echo -}}
          </code>
        </div>

        <p>
          <i class="ph-fill ph-info"></i> Refer to the <a href="#elements">elements index</a> to find out what each element does.
        </p>
      </div>
    </div>
  </section>
</main>
