---
layout: layouts/constituent.vto
base: ../../../

styles:
  - styles/base.css
  - styles/diffuse/page.css
  - styles/vendor/phosphor/bold/style.css
  - styles/vendor/phosphor/fill/style.css

scripts:
  - themes/loader/constituent/index.js
---

<header>
  <div>
    <div>
      <a class="diffuse-logo" href="./" style="display: inline-block;">
        {{ await comp.diffuse.logo() }}
      </a>
    </div>
    <p class="construct dither-mask" style="margin-top: 0;">
      Constituent loader ❈
    </p>
    <p>
      <strong>Missing a feature, or prefer a different user interface that is not part of Diffuse? Add it here.</strong> This tool allows you to load a custom <a href="#constituents">constituent</a> besides the <a href="#constituents">existing ones</a>.
    </p>
  </div>
  <div class="dither-mask filler"></div>
</header>
<main>
  <!-- LIST -->
  <div class="columns" style="margin-top: var(--space-2xl);">
    <div class="dither-mask filler flex"></div>

    <section class="flex">
      <h2 id="yours" style="margin-top: 0;">Yours</h2>
      <div id="list"></div>
    </section>
  </div>

  <!-- GENERATE + COMMUNITY -->
  <div class="columns">
    <section class="flex">
      <h2 id="generate">Generate</h2>
      <p>
        <small><i class="ph-fill ph-check-square"></i> On the todo list, the idea is to have AI generate a piece of UI for you; building on the logical blocks provided by Diffuse.</small>
      </p>
    </section>

    <section class="flex">
      <h2 id="community">Community</h2>
      <!--<p>
        Check out some constituents from the community and load them here.
      </p>-->
      <p>
        <small><i class="ph-fill ph-info"></i> Nothing here yet, too early.</small>
      </p>
    </section>
  </div>

  <!-- BUILD -->
  <section>
    <h2 id="build">Build</h2>

    <form id="build-form" class="columns">
      <div class="flex">
        <p style="margin-top: 0">
          If you know a bit of HTML & Javascript, you can write your own or plug in some code you found elsewhere:
        </p>

        <div id="html-input-container" class="code-editor monospace-font">
        </div>
      </div>

      <div class="flex">
        <p style="margin-top: 0">
          Your code here builds on the <a href="themes/loader/constituent/#foundation">foundation</a> listed below, it'll be injected into a <code>&lt;div id="container"&gt;</code> element in the body.
        </p>
        <input id="name-input" type="text" placeholder="Unique name" name="name" value="Unique name" required />
        <p>
          <span class="button-row">
            <button name="save">Save</button>
            <button name="save+open">Save &amp; Open</button>
          </span>
        </p>
        <p>
          Browse examples:
        </p>
        <div>
          <select id="example-select">
            <button>
              <selectedcontent></selectedcontent>
            </button>

            <option value="now-playing.txt" selected>Now playing & next queue item</option>
            <option value="generate-playlist.txt">Generate playlist from queue</option>
          </select>
        </div>
        <p>
          <span class="button-row">
            <button name="load-example">Load example</button>
          </span>
        </p>
      </div>
    </form>
  </section>

  <!-- FOUNDATION -->
  <div class="columns" style="margin-top: var(--space-2xl);">
    <section style="flex-grow: 10; max-width: var(--container-xl);">
      <h2 id="foundation" style="margin-top: 0;">Foundation</h2>

      <p>
        Diffuse comes with a foundation that preconfigures all elements so you don't have to set them up yourself, along with an assemblage of elements for certain activities. It internally tracks the DOM addition of the custom elements, so no need to worry about setting up an element multiple times.
      </p>
      <p>
        <small><i class="ph-fill ph-info"></i> Refer to the <a href="#elements">elements index</a> to find out what each element does.</small>
      </p>
      <div class="code-block">
        <code>
          {{- echo -}}
            import foundation from "common/constituents/foundation.js"
          {{ /echo }}
{{ echo -}}foundation.engine.audio(){{- /echo }}
{{ echo -}}foundation.engine.queue(){{- /echo }}

{{ echo -}}foundation.orchestrator.input(){{- /echo }}
{{ echo -}}foundation.orchestrator.output(){{- /echo }}
{{ echo -}}foundation.orchestrator.queueAudio(){{- /echo }}
{{ echo -}}foundation.orchestrator.queueTracks(){{- /echo }}
{{ echo -}}foundation.orchestrator.processTracks(){{- /echo }}
{{ echo -}}foundation.orchestrator.repeatShuffle(){{- /echo }}
{{ echo -}}foundation.orchestrator.searchTracks(){{- /echo }}
{{ echo -}}foundation.orchestrator.sources(){{- /echo }}

{{ echo -}}foundation.processor.artwork(){{- /echo }}
{{ echo -}}foundation.processor.metadata(){{- /echo }}
{{ echo -}}foundation.processor.search(){{- /echo -}}
        </code>
      </div>

      <p>
        <small>Assemblages:</small>
      </p>
      <ul style="margin-bottom: 0;">
        <li>
          <span>Play audio from the queue</span>
          <div class="list-description">
            <code>foundation.assemblage.playAudioFromQueue()</code>
          </div>
        </li>
        <li>
          <span>Queue management</span>
          <div class="list-description">
            <code>foundation.assemblage.queueManagement()</code>
          </div>
        </li>
        <li>
          <span>Search through your collection</span>
          <div class="list-description" style="margin-bottom: 0;">
            <code>foundation.assemblage.searchThroughCollection()</code>
          </div>
        </li>
      </ul>
    </section>

    <div class="dither-mask filler"></div>
  </div>
</main>
