@import "../../styles/variables.css";

body {
  margin: 0;
}

.title-bar {
  app-region: drag;
}

.window {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.window-body {
  flex: 1;
  overflow: hidden;
}

.with-icon {
  align-items: center;
  display: inline-flex;
  gap: var(--space-3xs);

  &.with-icon--large {
    gap: var(--space-xs);
  }
}
