<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Diffuse</title>

  <link href="index.css" rel="stylesheet" />
</head>
<body>
  <!--

  UI

  -->
  <main>
    <section class="windows">
      <dtw-window-manager>
        <!-- INPUT -->
        <dtw-window id="input-window">
          <span slot="title-icon"><img src="../../images/icons/windows_98/cd_audio_cd_a-0.png" height="14" /></span>
          <span slot="title">Manage audio inputs</span>
          <p>👀</p>
        </dtw-window>

        <!-- OUTPUT -->
        <dtw-window id="output-window">
          <span slot="title-icon"><img src="../../images/icons/windows_98/computer_user_pencil-0.png" height="14" /></span>
          <span slot="title">Manage user data</span>
          <p>👀</p>
        </dtw-window>

        <!-- BROWSER -->
        <dtw-window id="browser-window" open>
          <span slot="title-icon"><img src="../../images/icons/windows_98/directory_explorer-4.png" height="14" /></span>
          <span slot="title">Browse collection</span>
          <dtw-browser
            input-selector="#input"
            output-selector="#output"
            queue-selector="de-queue"
          ></dtw-browser>
        </dtw-window>
      </dtw-window-manager>
    </section>
    <section class="desktop">
      <!-- WINAMP -->
      <a class="button desktop__item" id="desktop-winamp">
        <img src="../../images/icons/windows_98/winamp2-32x32.png" height="32" />
        <label>Winamp</label>
      </a>

      <!-- INPUT -->
      <a class="button desktop__item">
        <img src="../../images/icons/windows_98/cd_audio_cd_a-4.png" height="32" />
        <label for="input-window">Manage audio inputs</label>
      </a>

      <!-- OUTPUT -->
      <a class="button desktop__item">
        <img src="../../images/icons/windows_98/computer_user_pencil-0.png" height="32" />
        <label for="output-window">Manage user data</label>
      </a>

      <!-- BROWSE -->
      <a class="button desktop__item">
        <img src="../../images/icons/windows_98/directory_explorer-5.png" height="32" />
        <label for="browser-window">Browse collection</label>
      </a>
    </section>
    <dtw-webamp></dtw-webamp>
  </main>

  <!--

  COMPONENTS

  -->
  <de-queue></de-queue>

  <!-- Inputs, Output & Processors -->
  <dop-indexed-db></dop-indexed-db>
  <dp-metadata></dp-metadata>

  <di-opensubsonic id="input"></di-opensubsonic>

  <!--<dc-input id="input">
    <di-opensubsonic></di-opensubsonic>
    <di-s3></di-s3>
  </dc-input>-->

  <!-- Transformers -->
  <dtor-default id="output" output-selector="dtos-json"></dtor-default>
  <dtos-json output-selector="dop-indexed-db"></dtos-json>

  <!-- Orchestrators -->
  <do-process-tracks
    input-selector="#input"
    metadata-processor-selector="dp-metadata"
    output-selector="#output"
  ></do-process-tracks>

  <do-queue-tracks
    input-selector="#input"
    output-selector="#output"
    queue-engine-selector="de-queue"
  ></do-queue-tracks>

  <!--

  SCRIPTS

  -->
  <script src="index.js" type="module"></script>
</body>
</html>
