<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Diffuse</title>

  <link href="index.css" rel="stylesheet" />
</head>
<body>
  <!--

  ###################################
  # UI
  ###################################

  -->
  <main>
    <!-- 🪟 -->
    <section class="windows">
      <dtw-window-manager></dtw-window-manager>
    </section>


    <!-- 🛋️ -->
    <section class="desktop">
      <!-- WINAMP -->
      <a class="button desktop__item" id="desktop-winamp">
        <img src="../../images/icons/windows_98/winamp2-32x32.png" height="32" />
        <label>Winamp</label>
      </a>

      <!-- INPUT -->
      <a class="button desktop__item">
        <img src="../../images/icons/windows_98/cd_audio_cd_a-4.png" height="32" />
        <label for="input-window">Manage audio inputs</label>
      </a>

      <!-- OUTPUT -->
      <a class="button desktop__item">
        <img src="../../images/icons/windows_98/computer_user_pencil-0.png" height="32" />
        <label for="output-window">Manage user data</label>
      </a>

      <!-- BROWSE -->
      <a class="button desktop__item">
        <img src="../../images/icons/windows_98/directory_explorer-5.png" height="32" />
        <label for="browser-window">Browse collection</label>
      </a>
    </section>
    <!-- ⚡️ -->
    <dtw-webamp></dtw-webamp>
  </main>

  <!--

  ###################################
  # COMPONENTS
  ###################################

  -->
  <de-queue></de-queue>

  <!-- Processors -->
  <dp-metadata></dp-metadata>

  <!-- Input -->
  <dc-input id="input">
    <di-opensubsonic></di-opensubsonic>
    <di-s3></di-s3>
  </dc-input>

  <!-- Output -->
  <dop-indexed-db id="idb-json-output" namespace="json"></dop-indexed-db>

  <dc-output default="idb-json">
    <dtos-json id="idb-json" output-selector="#idb-json-output"></dtos-json>
  </dc-output>

  <dtor-default id="output" output-selector="dc-output"></dtor-default>

  <!-- Orchestrators -->
  <do-process-tracks
    input-selector="#input"
    metadata-processor-selector="dp-metadata"
    output-selector="#output"
  ></do-process-tracks>

  <do-queue-tracks
    input-selector="#input"
    output-selector="#output"
    queue-engine-selector="de-queue"
  ></do-queue-tracks>

  <!--

  SCRIPTS

  -->
  <script src="index.js" type="module"></script>
</body>
</html>
