body {
  background: var(--bg-color);
  color: var(--text-color);
}

@scope (.diffuse) {
  :scope {
    color: var(--text-color);
    font-size: var(--fs-base);
    font-weight: 500;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .flex {
    align-items: center;
    display: flex;
    gap: var(--space-2xs);
    justify-content: center;
  }

  #diffuse-loader {
    font-size: var(--fs-md);
    letter-spacing: var(--leading-loose);
    text-transform: uppercase;
    transition: opacity 500ms ease;

    &.loaded {
      opacity: 0;
    }

    svg {
      height: var(--fs-md);
      width: var(--fs-md);
    }
  }
}
