body {
  background: var(--bg-color);
  color: var(--text-color);
}

@scope (.diffuse) {
  :scope {
    color: var(--text-color);
    font-size: var(--fs-md);
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .flex {
    align-items: center;
    display: flex;
    gap: var(--space-2xs);
    justify-content: center;
  }

  #diffuse-loader {
    transition: opacity 500ms ease;

    &.loaded {
      opacity: 0;
    }
  }
}
