---
title: "Diffuse"

base: "./"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="color-scheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="media-controllable" />
    <meta name="mobile-web-app-capable" content="yes" />

    <title>{{title}}</title>

    <!-- Base -->
    <base href="{{base}}" />

    <!-- Favicons & Mobile -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <!-- TODO: <link rel="manifest" href="site.webmanifest" />-->
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#8a90a9" />
    <meta name="msapplication-TileColor" content="#8a90a9" />
    <meta name="theme-color" content="#8a90a9" />

    <!-- Styles -->
    {{ for url of styles }}
      <link rel="stylesheet" href="{{ url }}" />
    {{ /for }}
  </head>
  <body>
    {{ content }}

    <!-- Import map -->
    <script type="importmap">
      {
        "imports": {
          "~/": "./",

          "@atcute/tid": "./vendor/@atcute/tid/index.js",

          "@awesome.me/webawesome/dist/": "./vendor/@awesome.me/webawesome/",
          "@awesome.me/webawesome/dist-cdn/": "./vendor/@awesome.me/webawesome/",
          "@phosphor-icons/web/": "./vendor/@phosphor-icons/web/",
          "idb-keyval": "./vendor/idb-keyval/index.js",
          "lit-html": "./vendor/lit-html/index.js"
        }
      }
    </script>

    <!-- Make every touched URL available offline -->
    <do-offline></do-offline>
    <script src="components/orchestrator/offline/element.js" type="module"></script>

    <!-- Scripts -->
    {{ for url of scripts }}
      <script src="{{ url }}" type="module"></script>
    {{ /for }}
  </body>
</html>
