---
title: "Diffuse"

base: "./"
scripts: []
styles: []
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--<meta name="media-controllable" />
    <meta name="apple-mobile-web-app-capable" content="yes" />-->

    <title>{{title}}</title>

    <!-- Favicons & Mobile -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{base}}apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{base}}favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{base}}favicon-16x16.png" />
    <!-- TODO: <link rel="manifest" href="{{base}}site.webmanifest" />-->
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#8a90a9" />
    <meta name="msapplication-TileColor" content="#8a90a9" />
    <meta name="theme-color" content="#8a90a9" />

    <!-- Styles -->
    {{ for url of styles }}
      <link rel="stylesheet" href="{{ url }}" />
    {{ /for }}

    <!-- Scripts -->
    {{ for url of scripts }}
      <script defer src="{{ url }}" type="module"></script>
    {{ /for }}
  </head>
  <body>
    {{ content }}
  </body>
</html>
