---
layout: layouts/diffuse.vto
base: ../../

styles:
  - vendor/@phosphor-icons/fill/style.css
  - styles/base.css
  - styles/loader.css
  - themes/l/index.css

scripts:
  - themes/l/index.js
---

<div id="container">
  <div class="diffuse">
    <div id="diffuse-loader" class="flex">
      <i class="ph-fill ph-music-notes animate-bounce"></i>
    </div>
  </div>
</div>

<script type="importmap">
  {
    "imports": {
      "@diffuse/common/": "./common/",
      "@diffuse/components/": "./components/",
      "@diffuse/foundation": "./common/facets/foundation.js",

      "@atcute/tid": "./vendor/@atcute/tid/index.js"
    }
  }
</script>
