---
layout: layouts/diffuse.vto

base: "../"

styles:
  - styles/base.css
---

<script type="importmap">
  {
    "imports": {
      "~/components/": "./components/",
      "@testing/": "./testing/"
    }
  }
</script>
