<html>
  <head>
    <base href="../" />
  </head>
  <body>
    <script type="importmap">
      {
        "imports": {
          "~/": "./",

          "@atcute/tid": "./vendor/@atcute/tid/index.js",
          "@awesome.me/webawesome/dist/": "./vendor/@awesome.me/webawesome/",
          "@awesome.me/webawesome/dist-cdn/": "./vendor/@awesome.me/webawesome/",
          "@js-temporal/polyfill": "./vendor/@js-temporal/polyfill/index.js"
        }
      }
    </script>
  </body>
</html>
