<ul class="grid" style="margin-top: var(--space-lg);">
  {{ for index, item of items }}
    <li class="grid-item" data-uri="{{ item.url |> facetOrThemeURI }}" data-name="{{item.title}}">
      <div class="grid-item__contents">
        <div class="grid-item__title">
          <a href="{{ item.url |> facetLoaderURL }}" style="padding: var(--space-3xs) 0">
            {{item.title}}
          </a>
        </div>
        <div class="list-description">
          {{ item.desc |> md(true) }}
        </div>
      </div>
    </li>
  {{ /for }}
</ul>
