<header>
  <div>
    <div>
      <a class="diffuse-logo" href="./" style="display: inline-block;">
        {{ await comp.diffuse.logo() }}
      </a>
    </div>
    <p class="construct dither-mask" style="margin-top: 0; max-width: none;">
      Facets
    </p>
  </div>
  <div class="dither-mask filler"></div>
</header>
