{{ set colorClass = (path) => url === "/" + path ? 'button--bg-twist-2' : 'button--transparent' }}
{{ set slug = (cat) => cat.toLowerCase().replace(/\s+/g, '-') }}

<nav>
  <a href="facets/guide" class="button {{ colorClass("facets/guide/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-book-open-text"></i>
      Guide
    </span>
  </a>

  <a href="facets/you/" class="button {{ colorClass("facets/you/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-person"></i>
      Your collection
    </span>
  </a>

  <a href="facets/" class="button {{ colorClass("facets/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-sparkle"></i>
      Featured
    </span>
  </a>

  <a href="facets/build/" class="button {{ colorClass("facets/build/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-hammer"></i>
      Build
    </span>
  </a>

  <div class="divider"></div>

  <a href="facets/data/" class="button {{ colorClass("facets/data/") }} button--border">
    Data Input & Output
  </a>

  <a href="facets/playback/" class="button {{ colorClass("facets/playback/") }} button--border">
    Playback
  </a>

  <a href="facets/browsing/" class="button {{ colorClass("facets/browsing/") }} button--border">
    Browsing
  </a>

  <a href="facets/misc/" class="button {{ colorClass("facets/misc/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-treasure-chest"></i>
    </span>
  </a>
</nav>
