{{ set colorClass = (path) => url === "/" + path ? 'button--bg-twist-2' : 'button--transparent' }}
{{ set slug = (cat) => cat.toLowerCase().replace(/\s+/g, '-') }}

<nav>
  <a href="kitchen/guide/" class="button {{ colorClass("kitchen/guide/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-book-open-text"></i>
      Guide
    </span>
  </a>

  <a href="kitchen/you/" class="button {{ colorClass("kitchen/you/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-person"></i>
      Your collection
    </span>
  </a>

  <a href="kitchen/" class="button {{ colorClass("kitchen/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-sparkle"></i>
      Featured
    </span>
  </a>

  <a href="kitchen/build/" class="button {{ colorClass("kitchen/build/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-hammer"></i>
      Build
    </span>
  </a>

  <div class="divider"></div>

  <a href="kitchen/data/" class="button {{ colorClass("kitchen/data/") }} button--border">
    Input & Output
  </a>

  <a href="kitchen/playback/" class="button {{ colorClass("kitchen/playback/") }} button--border">
    Playback
  </a>

  <a href="kitchen/browsing/" class="button {{ colorClass("kitchen/browsing/") }} button--border">
    Browsing
  </a>

  <a href="kitchen/misc/" class="button {{ colorClass("kitchen/misc/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-treasure-chest"></i>
    </span>
  </a>
</nav>
