body {
  background-color: #02070E;
  background-image: url("/images/ep_naturalblack_pattern.jpg");
  overflow: hidden;
}

a[href] {
  color: inherit;
  text-decoration: none;
}

a[href].is-styled-link {
  border-bottom: 2px solid rgb(254, 196, 24);
}

select:focus,
select:active {
  outline: none;
}

.in-the-middle {
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.message {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.45;
  width: 90%;
}

.strechin-and-chillin,
.strechin-and-chillin > div { height: 100%; }



/**
 ** Backdrop
 **
 */

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}



/**
 ** Spinner
 **
 */

.spinner {
  animation: spinner-rotator 1.4s linear infinite;
}


.spinner-circle {
  animation: spinner-dash 1.4s ease-in-out infinite,
             spinner-colors 5.6s ease-in-out infinite;
  stroke-dasharray: calc(30 * 2.875);
  stroke-dashoffset: 0;
  transform-origin: center;
}


@keyframes spinner-rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes spinner-colors {
  0% { stroke: rgb(239, 97, 85); }
  25% { stroke: rgb(254, 196, 24); }
  50% { stroke: rgb(72, 182, 133); }
  75% { stroke: rgb(6, 182, 239); }
  100% { stroke: rgb(239, 97, 85); }
}

@keyframes spinner-dash {
  0% {
    stroke-dashoffset: calc(30 * 2.875);
  }
  50% {
    stroke-dashoffset: calc((30 * 2.875) / 4);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: calc(30 * 2.875);
    transform: rotate(450deg);
  }
}



/**
 ** Prompt
 **
 */

.x0p {
  color: white;
  font-size: 16px;
  height: auto !important;
  left: 50%;
  line-height: 1.25em;
  max-height: auto !important;
  position: absolute;
  top: 50%;
  z-index: 9999;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: true;
}


.x0p-overlay {
  background: rgba(0, 0, 0, 0.125);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9998;
}


.x0p .title {
  font-family: "Montserrat", "Source Sans Pro", sans-serif;
  margin-bottom: 1.563em;
  margin-top: 60.5px;
  text-align: center;
}


#x0p-input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.425);
  box-sizing: border-box;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25em;
  padding: 0.512em 0;
  width: 100%;
}


#x0p-input::placeholder {
  color: rgba(255, 255, 255, 0.475);
}


#x0p-input:focus {
  border-bottom-color: rgb(254, 196, 24);
  outline: 0;
}


#x0p-buttons {
  margin-top: 1.563em;
}


#x0p-buttons button {
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
