/**
 * Using external CSS for the tracks
 * in order to achieve maximum performance.
 */


/* 🏓  –  Table */


.tracks__table {
  display: table;
  list-style: none;
  margin: 5px 0 !important;
  padding: 0;
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
}



/* 🏓  –  Table  –  Rows */


.tracks__tableRow {
  background-color: rgb(255, 255, 255);
  display: table-row;
}


.tracks__tableRow--alt {
  background-color: rgb(252, 252, 252);
}


.tracks__tableRow--isMissing {
  color: #8f8f8f;
}


.tracks__tableRow--isNotMissing {
  cursor: pointer;
}


.tracks__tableRow--isNowPlaying {
  background-color: rgb(6, 182, 239);
  color: rgb(255, 255, 255);
}


.tracks__tableRow--draggingOver {
  box-shadow: inset 0 1px 0 0 rgb(185, 182, 176);
}



/* 🏓  –  Table  –  Columns  –  Favourite */


.tracks__tableFavouriteColumn {
  color: rgb(222, 222, 222);
  display: table-cell;
  font-family: "or-favourites";
  height: 33px;
  position: relative;
  top: 1px;
  width: 4.5%;

  /* 16 * (1.125 ^ x) */
  padding-left: 12.642px;
  padding-right: 9.98872px;
}


.tracks__tableFavouriteColumn--isNowPlaying {
  color: rgba(255, 255, 255, 0.4);
}


.tracks__tableFavouriteColumn--isFavourite {
  color: rgb(239, 97, 85);
}


[data-favourites-only="t"] .tracks__tableFavouriteColumn {
  color: #dedede;
}


[data-favourites-only="t"] .tracks__tableFavouriteColumn--isNowPlaying {
  color: #ffffff;
}


.tracks__tableRow--isMissing .tracks__tableFavouriteColumn {
  cursor: pointer;
}



/* 🏓  –  Table  –  Columns  –  Other */


.tracks__tableOtherColumns {
  display: table-cell;
  height: 33px;
  overflow: hidden;
  padding-left: 9.98872px;
  padding-right: 9.98872px;
  text-overflow: ellipsis;
}


.tracks__tableOtherColumns:last-child {
  padding-right: 12.642px;
}
