---
layout: layouts/diffuse.vto
base: ../

styles:
  - vendor/@phosphor-icons/web/fill/style.css
  - styles/diffuse/colors.css
  - styles/variables.css
  - styles/animations.css
  - styles/loader.css

scripts:
  - l/index.js
---

<div id="container">
  <div class="diffuse">
    <div id="diffuse-loader" class="flex">
      <i class="ph-fill ph-music-notes animate-bounce"></i>
    </div>
  </div>
</div>
