<span id="status">
  <a href="/latest/" title="Upgrade to latest" class="animate-spin">
    <i class="ph-bold ph-spinner"></i>
  </a>
  <a href="/chronicle/" title="Browse versions of Diffuse">
    <i class="ph-fill ph-star-four"></i>
  </a>
</span>
