---
layout: layouts/diffuse.vto
base: ../

styles:
  - styles/base.css
  - styles/diffuse/page.css
  - vendor/@phosphor-icons/bold/style.css
  - vendor/@phosphor-icons/fill/style.css

scripts:
  - themes/index.js
  - common/pages/version-upgrade.js

# THEMES

builtIn:
  - url: "themes/blur/"
    title: "Blur"
    todo: true
    desc: >
      **A theme with an Apple-inspired playback view.** Features two audio players instead of the usual one.
  - url: "themes/webamp/"
    title: "Webamp"
    desc: >
      **Winamp 2 + Windows 98**. Uses Webamp as the audio player connected to various Diffuse elements. Also features a desktop-like Windows 98 environment in which you can open "programs" that control the used Diffuse elements.
---

<header>
  <div>
    <div class="diffuse-logo-container">
      <a href="./" style="display: inline-block;">
        {{ await comp.diffuse.logo() }}
      </a>
      {{ await comp.diffuse.status() }}
    </div>

    <p class="construct dither-mask" style="margin-top: 0">
      Themes
    </p>

    <p>
      Themes are element compositions and provide a traditional browser web application way of
      using them. In other words, pretty much the whole thing, besides your data, lives inside a single browser tab.
    </p>

    <p>
      <small>
        <strong><i class="ph-fill ph-info"></i></strong>
        Each theme is unique, not just a skin; each one might have a totally different feature set.
      </small>
    </p>

    <ul class="table-of-contents">
      <li><a href="themes/#built-in">Built-in</a></li>
      <li><a href="themes/#community">Community</a></li>
      <li><a href="themes/#collection">Your collection</a></li>
      <li><a href="themes/#build">Build</a></li>
    </ul>
  </div>
  <div class="dither-mask filler"></div>
</header>
<main>
  <!-- BUILT-IN -->
  <div class="columns">
    <section class="flex">
      <h2 id="built-in">Built-in</h2>

      {{ await comp.list({ items: builtIn }) }}
    </section>

    <section class="flex">
      <h2 id="community">Community</h2>
      <p>
        Check out some themes from the community and load them here.
      </p>
      <p>
        <small><i class="ph-fill ph-info"></i> Nothing here yet, too early.</small>
      </p>
    </section>
  </div>

  <!-- YOUR COLLECTION -->
  <div class="columns">
    <section class="flex">
      <h2 id="collection">Your collection</h2>
      <div id="list">
        <div class="with-icon" style="font-size: var(--fs-sm);">
          <i class="ph-bold ph-spinner-gap"></i>
          Loading items
        </div>
      </div>
    </section>

    <section class="flex"></section>
  </div>

  <!-- / -->
  <div class="dither-mask filler" style="height: var(--space-2xl); margin-top: var(--space-2xl);"></div>

  <!-- BUILD -->
  <section>
    <h2 id="build">Build</h2>

    <form id="build-form" class="columns">
      <div class="flex">
        <p style="margin-top: 0">
          If you know a bit of HTML & Javascript, you can write your own or plug in some code you found elsewhere:
        </p>

        <div id="html-input-container" class="code-editor monospace-font">
        </div>
      </div>

      <div class="flex">
        <p style="margin-top: 0">
          Your code here will be loaded in a dedicated page, it'll be injected into a <code>&lt;iframe&gt;</code> element in the body. You have access to the elements listed on the <a href="./#elements">index page</a> and the facets <a href="facets/#foundation">foundation</a>.
        </p>
        <input id="name-input" type="text" placeholder="Name" name="name" required />
        <p>
          <span class="button-row">
            <button name="save">Save</button>
            <button name="save+open">Save &amp; Open</button>
          </span>
        </p>
      </div>
    </form>
  </section>

</main>
