---
layout: layouts/kitchen.vto
base: ../
title: Featured | Kitchen | Diffuse
---

<h1 hidden>Featured</h1>

<section>
  {{ await comp.facets.grid({ id: "featured", items: facets.filter(f => f.featured) }) }}
</section>
