---
layout: layouts/kitchen.vto
base: ../../
title: Your collection | Kitchen | Diffuse
---

<h1 hidden>Your collection</h1>

<div style="margin-top: var(--space-lg);">
  <section>
    <div id="list" data-rendered="f">
      <div class="with-icon">
        <i class="ph-bold ph-spinner animate-spin"></i>
        Loading items
      </div>
    </div>
  </section>
</div>
