@layer base, diffuse;
input[type="file"] {
  background: none;
  border: none;
  padding: 0;
  width: auto;
}
.checkbox-row {
  align-items: center;
  flex-direction: row;
  gap: var(--space-2xs);
  margin-top: var(--space-2xs);
  input {
    width: auto;
  }
}
.status {
  font-size: var(--fs-xs);
}
.status--success {
  color: var(--accent);
}
.status--error {
  color: var(--accent-twist-5);
}

