---
layout: layouts/diffuse.vto
base: ../

styles:
  - styles/base.css
  - styles/diffuse/page.css
  - styles/vendor/phosphor/fill/style.css

scripts:
  - facets/index.js

# FACETS

builtIn:
  - url: "themes/blur/artwork-controller/facet.html.txt"
    title: "Blur / Artwork controller"
    desc: >
      Audio playback controller with an artwork display.
  - url: "facets/tools/auto-queue.html.txt"
    title: "Tools / Automatic Queue"
    desc: >
      Everything you need to automatically put tracks into the queue.
  - url: "facets/tools/v3-import.html.txt"
    title: "Tools / V3.x Import"
    desc: >
      Import data from Diffuse v3.
  - url: "themes/webamp/browser/facet.html.txt"
    title: "Webamp / Browser"
    desc: >
      Collection browser + search in a retro, win98, look.
  - url: "themes/webamp/configurators/input/facet.html.txt"
    title: "Webamp / Input Configurator"
    desc: >
      Windows 98 styled input configurator where you can add music sources.
  - url: "themes/webamp/configurators/output/facet.html.txt"
    title: "Webamp / Output Configurator"
    desc: >
      Windows 98 styled output configurator where you can manage your data storage.

examples:
  - url: "facets/examples/now-playing.html.txt"
    title: "Now playing"
    desc: >
      Shows what's currently set to "now playing" in the queue, along with a button to shift the queue to the next track.
  - url: "facets/examples/generate-playlist.html.txt"
    title: "Generate playlist"
    desc: >
      Make a list of what previously played in the queue.
---

<header>
  <div>
    <div>
      <a class="diffuse-logo" href="./" style="display: inline-block;">
        {{ await comp.diffuse.logo() }}
      </a>
    </div>
    <p class="construct dither-mask" style="margin-top: 0; max-width: none;">
      Facets
    </p>
    <p>
      Facets are various interface components each loaded in their own web page. Every used component is configured so that it operates in broadcast mode, making all the pages communicate with each other.
    </p>

    <ul class="table-of-contents">
      <li><a href="facets/#built-in">Built-in</a></li>
      <li><a href="facets/#community">Community</a></li>
      <li><a href="facets/#collection">Your collection</a></li>
      <li><a href="facets/#examples">Examples</a></li>
      <li><a href="facets/#build">Build</a></li>
      <li><a href="facets/#foundation">Foundation</a></li>
    </ul>
  </div>
  <div class="dither-mask filler"></div>
</header>
<main>
  <!-- BUILT-IN -->
  <div class="columns">
    <section class="flex">
      <h2 id="built-in">Built-in</h2>

      {{ await comp.facets({ items: builtIn }) }}
    </section>

    <section class="flex">
      <h2 id="community">Community</h2>
      <p>
        Check out some facets from the community and load them here.
      </p>
      <p>
        <small><i class="ph-fill ph-info"></i> Nothing here yet, too early.</small>
      </p>
    </section>
  </div>

  <!-- LIST + EXAMPLES -->
  <div class="columns">
    <section class="flex">
      <h2 id="collection">Your collection</h2>
      <div id="list"></div>
    </section>

    <section class="flex">
      <h2 id="examples">Examples</h2>

      <p>
        Some simple examples to help you understand how to build your own facet. Fork them to load them into the code editor below (or save → edit).
      </p>

      {{ await comp.facets({ items: examples }) }}
    </section>
  </div>

  <!-- / -->
  <div class="dither-mask filler" style="height: var(--space-2xl); margin-top: var(--space-2xl);"></div>

  <!-- BUILD -->
  <section>
    <h2 id="build">Build</h2>

    <form id="build-form" class="columns">
      <div class="flex">
        <p style="margin-top: 0">
          If you know a bit of HTML & Javascript, you can write your own or plug in some code you found elsewhere:
        </p>

        <div id="html-input-container" class="code-editor monospace-font">
        </div>
      </div>

      <div class="flex">
        <p style="margin-top: 0">
          Your code here builds on the <a href="facets/#foundation">foundation</a> listed below, it'll be injected into a <code>&lt;div id="container"&gt;</code> element in the body.
        </p>
        <input id="name-input" type="text" placeholder="Name" name="name" required />
        <p>
          <span class="button-row">
            <button name="save">Save</button>
            <button name="save+open">Save &amp; Open</button>
          </span>
        </p>
      </div>
    </form>
  </section>

  <!-- FOUNDATION -->
  <div class="columns" style="margin-top: var(--space-2xl);">
    <section style="flex-grow: 10; max-width: var(--container-xl);">
      <h2 id="foundation" style="margin-top: 0;">Foundation</h2>

      <p>
        Diffuse comes with a foundation that preconfigures all elements so you don't have to set them up yourself, along with a combination of elements for certain features. It internally tracks the DOM addition of the custom elements, so no need to worry about setting up an element multiple times.
      </p>
      <p>
        <small><i class="ph-fill ph-info"></i> Refer to the <a href="#elements">elements index</a> to find out what each element does.</small>
      </p>
      <div class="code-block">
        <code>
          {{- echo -}}
            import foundation from "common/facets/foundation.js"
          {{ /echo }}
{{ echo -}}foundation.engine.audio(){{- /echo }}
{{ echo -}}foundation.engine.queue(){{- /echo }}
{{ echo -}}foundation.engine.repeatShuffle(){{- /echo }}
{{ echo -}}foundation.engine.scope(){{- /echo }}

{{ echo -}}foundation.orchestrator.autoQueue(){{- /echo }}
{{ echo -}}foundation.orchestrator.favourites(){{- /echo }}
{{ echo -}}foundation.orchestrator.input(){{- /echo }}
{{ echo -}}foundation.orchestrator.output(){{- /echo }}
{{ echo -}}foundation.orchestrator.queueAudio(){{- /echo }}
{{ echo -}}foundation.orchestrator.processTracks(){{- /echo }}
{{ echo -}}foundation.orchestrator.scopedTracks(){{- /echo }}
{{ echo -}}foundation.orchestrator.sources(){{- /echo }}

{{ echo -}}foundation.processor.artwork(){{- /echo }}
{{ echo -}}foundation.processor.metadata(){{- /echo }}
{{ echo -}}foundation.processor.search(){{- /echo -}}
        </code>
      </div>

      <p>
        <small>Features:</small>
      </p>
      <ul style="margin-bottom: 0;">
        <li>
          <span>Fill the queue automatically <small>(infinite play)</small></span>
          <div class="list-description">
            <code>foundation.features.fillQueueAutomatically()</code>
          </div>
        </li>
        <li>
          <span>Play audio from the queue</span>
          <div class="list-description">
            <code>foundation.features.playAudioFromQueue()</code>
          </div>
        </li>
        <li>
          <span>Process inputs <small>(into tracks, etc)</small></span>
          <div class="list-description">
            <code>foundation.features.processInputs()</code>
          </div>
        </li>
        <li>
          <span>Search through your collection</span>
          <div class="list-description" style="margin-bottom: 0;">
            <code>foundation.features.searchThroughCollection()</code>
          </div>
        </li>
      </ul>
      <h3>Notes</h3>
      <p>
        While you have the ability to do whatever you want in a custom facet, the existing facets are designed to work a certain way; so here's some things to keep in mind:
      </p>
      <ul>
        <li><span>In most cases you'll want to call <code>foundation.features.processInputs()</code> so that your audio files and streams actually show up.</span></li>
        <li><span>Most elements are configured in broadcast mode so they communicate across tabs. There are a few exceptions such as inputs, where we prefer parallelisation.</span></li>
      </ul>
    </section>

    <div class="dither-mask filler"></div>
  </div>
</main>
