---
layout: layouts/facets.vto
base: ../../
title: Your collection | Facets | Diffuse
---

<h1 hidden>Your collection</h1>

<div style="margin-top: var(--space-lg);">
  <section>
    <div id="list">
      <div class="with-icon">
        <i class="ph-bold ph-spinner-gap"></i>
        Loading items
      </div>
    </div>
  </section>
</div>

<script src="facets/you.js" type="module"></script>
