---
layout: layouts/constituent.vto
base: ../../../

styles:
  - styles/vendor/phosphor/bold/style.css
  - styles/vendor/phosphor/fill/style.css
  - styles/base.css

scripts:
  - themes/blur/artwork-controller/index.js
---
