.notifications {
  font-size: 13px;
  line-height: 1.35;
}

.notifications a,
.notifications em {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  display: inline-block;
}

.notifications a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

.notifications p {
  margin: 0;
  padding: 0;
}

.notifications em {
  font-weight: inherit;
}

.notifications strong {
  font-weight: 600;
}
