<!-- AGENCY -->
<section>
  <h2 id="agency">Agency</h2>

  <p>
    The goal is for every user, no matter their knowledge level, to have agency over their data and their software. One can start with making small changes and gradually progress to making big changes.
  </p>

  <p>
    You can store your user-data in various places, and easily export, import and sync it.
  </p>

  <h3>Take control</h3>

  <ul class="columns">
    <div class="element">
      <!-- 1 -->
      <li>
        <p>
          <i class="ph-fill ph-storefront"></i> <strong>Level 1</strong>: Pick your restaurant, food comes in all shapes and sizes. The equivalent of choosing a Diffuse <a href="facets/themes/">theme</a>.
        </p>
      </li>
      <!-- 2 -->
      <li>
        <p>
          <i class="ph-fill ph-basket"></i> <strong>Level 2</strong>: Take out food from various places, eg. cheese shop + bakery. You choose how you combine the foods and from where you order them. That's <a href="facets/">facets</a>.
        </p>
      </li>
      <!-- 3 -->
      <li>
        <p>
          <i class="ph-fill ph-pepper"></i> <strong>Level 3</strong>: Now that you know which food is good and how to make combinations, you might make a slight customization, add a little something of your own (eg. add some spice). However, you're not quite confident enough which spice to pick, so you hire some help.
        </p>
        <p>
          This can be done using the <a href="facets/#builder">facets builder</a> which allows you to build on top of a familiar preconfigured foundation and load custom facets. People might share their own, or maybe you use an LLM to generate something for you (eg. an album art gallery).
        </p>
      </li>
      <!-- 4 -->
      <li>
        <p>
          <i class="ph-fill ph-knife"></i> <strong>Level 4</strong>: You learned a bit from watching and talking to the help you hired, so you decide to take things in your own hands.
        </p>
        <p>
          You continue to use the <a href="facets/#builder">facets builder</a> but learn a bit of <a href="https://htmlforpeople.com">HTML</a>, <a href="https://javascript.info">Javascript</a> and <a href="https://htmlforpeople.com/css-basics/">CSS</a>; so you're able to write your own facet.
        </p>
      </li>
    </div>
    <div class="element">
      <!-- 5 -->
      <li>
        <p>
          <i class="ph-fill ph-cooking-pot"></i> <strong>Level 5</strong>: At this point you're confident enough to make a meal from scratch. You can start very simple, eg. just throwing a steak in the pan with some butter and some salt to it. Then later add some baked potatoes and go from there.
        </p>
        <p>
          A similar tool comes into play here, the <a href="facets/themes/#builder">themes builder</a>. Same concept as the facets builder, but now you need to specify the foundation yourself. You can use the <a href="#elements">elements</a> listed below to do so. The code for these is available from this website or through the <a href="https://jsr.io/@toko/diffuse">Javascript package</a>.
        </p>
      </li>
      <!-- 6 -->
      <li>
        <p>
          <i class="ph-fill ph-storefront"></i> <strong>Level 6</strong>: You open your own restaurant.
        </p>
        <p>
          You can host the theme you made on any web server, it's only HTML after all. Only difference is that you'll have to create the entire HTML tree, not just the body element, as is the case with the theme builder.
        </p>
      </li>
      <!-- 7 -->
      <li>
        <p>
          <i class="ph-fill ph-chef-hat"></i> <strong>Level 7</strong>: You got promoted to master chef. Time to open your own restaurant chain.
        </p>
        <p>
          You can self-host Diffuse, it's <a href="https://tangled.org/tokono.ma/diffuse/blob/v4/">open-source</a>! Or you present your own collection of elements.
        </p>
      </li>
    </div>
  </ul>
</section>
