---
layout: layouts/kitchen.vto
base: ../
title: Guide | Diffuse
---

<style>
  h2 {
    color: var(--bg-color);
    background: oklch(from var(--accent-twist-2) l c h / 0.8);
    display: inline-block;
    line-height: 0.75;
    text-box: trim-both cap alphabetic;
    padding: var(--space-3xs);
  }
</style>

<h1 hidden>Guide</h1>

<div class="columns">
  <section>
    <h2>Concept</h2>

    <p>
      Diffuse is unlike traditional software; instead of combining several features into a single user interface and producing data output, we do the opposite, we start with the data and work our way up from there.
    </p>

    <p>
      <strong>It provides every user the ability to choose which features and interfaces they want to layer on top of their data.</strong>
    </p>

    <p>
      These features and interfaces are housed into units that we call "facets". They consist of <a href="elements/">Diffuse elements</a> that are connected, they broadcast their state and the parts of your data that have been updated.
    </p>

    <p>
      Finally, facets are just regular web pages so they can live wherever. We save them to the user-data storage that's configured and give the user the option to share it. This means that you can load features and interfaces from other people, <strong>building software cooperatively</strong>.
    </p>
  </section>

  <section>
    <h2>Getting started</h2>

    <ul style="display: flex; flex-direction: column; gap: var(--space-md); margin-top: var(--space-md); padding-left: 0">
      <!-- 1 -->
      <li class="with-icon" style="gap: var(--space-sm)">
        <i class="ph-fill ph-file-audio" style="opacity: 0.4"></i>
        <span><strong>Add some audio files or streams.</strong> The wide range of <a href="{{ ('facets/connect/index.html') |> facetLoaderURL }}">connect interfaces</a> can be used for this, or use the demo from the tutorial below.</span>
      </li>

      <!-- 2 -->
      <li class="with-icon" style="gap: var(--space-sm)">
        <i class="ph-fill ph-gear-six" style="opacity: 0.4"></i>
        <span><strong>Wait until the processing of audio sources into tracks is completed.</strong> You can monitor it using this <a href="{{ ('facets/data/process-tracks/index.html') |> facetLoaderURL }}">interface</a>. The tutorial demo will show it directly.</span>
      </li>

      <!-- 3 -->
      <li class="with-icon" style="gap: var(--space-sm)">
        <i class="ph-fill ph-paint-brush" style="opacity: 0.4"></i>
        <span><strong style="color: var(--accent-twist-2)">Explore the interfaces that can be used to play and manage your audio.</strong> Check out the <a href="featured/?filter=interface">featured interfaces</a>.</span>
      </li>

      <!-- 4 -->
      <li class="with-icon" style="gap: var(--space-sm)">
        <i class="ph-fill ph-sparkle" style="opacity: 0.4"></i>
        <span><strong>Continue exploring, enable some additional features</strong> such as making played audio available offline automatically.</span>
      </li>

      <!-- 5 -->
      <li class="with-icon" style="gap: var(--space-sm)">
        <i class="ph-fill ph-person" style="opacity: 0.4"></i>
        <span><strong>Sync your configuration and playlists with your other devices.</strong> Or share it with other people.</span>
      </li>
    </ul>
  </section>
</div>

<section id="tutorial">
  <h2>Tutorial</h2>

  <div class="columns">
    <div>
      <p>
        <strong>Diffuse is not your typical streaming service, you have to add sources of audio so you have stuff to play.</strong> This button below adds some demo content, so you can experiment with the software right away. Wait until processing is completed.
      </p>

      <p>
        <button id="add-sample-content" class="button--bg-twist-2">
          <span>Add sample content</span>
        </button>
      </p>

      <p>
        Now we should explore what is possible with our audio. Because Diffuse is cooperative and malleable software, our interface can look like anything, and we can pick the features we like. That might sound overwhelming, so we'll start with a simple example.
      </p>

      <p>
        By default a feature is enabled which puts audio in the queue automatically. <strong>Let's pick an interface</strong> to play what got put into the queue for us.
      </p>

      <p>
        <a class="button button--bg-twist-2" href="{{ ('themes/blur/artwork-controller/facet/index.html') |> facetLoaderURL }}" target="_blank">
          Play audio
        </a>
      </p>

      <p>
        You can disable the "Automatic Queue" feature on <a href="./dashboard/">your dashboard</a> by deleting that item, or toggling it off on the <a href="./playback/">playback category page</a>. Next, reload the interface that plays your audio; now there won't be anything in the queue.
      </p>
    </div>

    <div>
      <p>
        Interfaces can also be added to your dashboard, but it's not required, you can try them out right away by clicking the link in their title. For interfaces that are more like traditional web applications, delivering more encompassing experiences, look at <a href="themes/">themes</a>.
      </p>

      <p>
        When you're ready to add your own audio, a useful place to start is the "Connect" interface which summarises which inputs you can add. For more, check out the "Input &amp; Output" category.
      </p>

      <p>
        <a class="button button--bg-twist-2" href="{{ ('facets/connect/index.html') |> facetLoaderURL }}" target="_blank">
          Add audio input
        </a>
      </p>

      <p>
        The connect interface also shows some options that can be used for syncing your user-data, that's your playlists, configured audio inputs, etc. By default everything is saved in your browser.
      </p>

      <p>
        Lastly, don't forget that you can create, edit and share both features + interfaces. LLMs (AI) can also be used to create or edit them. To edit something, you first add it to your dashboard and then click the edit button, which will load it in the editor on the build page. The build page has some examples and documentation of how that system works.
      </p>
    </div>
  </div>
</section>
