---
layout: layouts/diffuse.vto

themes:
  - url: "themes/blur/"
    title: "Blur"
  - url: "themes/webamp/"
    title: "Webamp"

engines:
  - url: "components/engine/audio/element.js"
    title: "Audio"
  - url: "components/engine/queue/element.js"
    title: "Queue"

input:
  - url: "components/input/opensubsonic/element.js"
    title: "Opensubsonic"
  - url: "components/input/s3/element.js"
    title: "S3 (TODO)"

orchestrators:
  - url: "components/orchestrator/process-tracks/element.js"
    title: "Process inputs into tracks"
  - url: "components/orchestrator/queue-audio/element.js"
    title: "Queue ⭤ Audio"
  - url: "components/orchestrator/queue-tracks/element.js"
    title: "Queue ⭤ Tracks"

output:
  - url: "components/output/indexed-db/element.js"
    title: "IndexedDB"

processors:
  - url: "components/processor/artwork/element.js"
    title: "Artwork"
  - url: "components/processor/metadata/element.js"
    title: "Metadata"
  - url: "components/processor/search/element.js"
    title: "Search"

---
<link rel="stylesheet" href="index.css" />

<header>
  <h1>
    <svg viewBox="0 0 902 134" width="160">
      <title>Diffuse</title>
      <use
        xlink:href="/images/diffuse-current.svg#diffuse"
        href="/images/diffuse-current.svg#diffuse"></use>
    </svg>
  </h1>
  <p>
    Diffuse is a collection of custom elements that make it possible to
    listen to audio from various sources on your devices and the web, and to create the ideal digital
    listening experience for you.
  </p>
  <p>
    <strong>⚠️ Heavily experimental</strong>
  </p>
</header>
<main>
  <div class="columns">
    <!-- THEMES -->
    <section>
      <h2 id="themes">Themes</h2>

      <p>
        Themes are compositions and provide a traditional browser web application way of
        using them. Each theme is unique, not just a skin (ie. not like winamp skins).
      </p>

      <p>
        For example, most themes here will limit the currently playing audio tracks to one item,
        but you might as well create a DJ theme that can play multiple items at the same time.
      </p>

      {{ await comp.list({ items: themes }) }}
    </section>

    <!-- ABSTRACTIONS -->
    <!--<section></section>-->
  </div>

  <!-- CONSTITUENTS -->
  <!--<section></section>-->

  <!-- ELEMENTS -->
  <section>
    <h2 id="elements">Elements</h2>

    <p>
      The (web) components of the system. These
      are then recombined into an entire music player experience, or whatever you want to build.
    </p>

    <div class="columns">
      {{ await comp.element({
        title: "Configurators",
        items: configurators,
        content: `
          Elements that serve as an intermediate in order to make a particular kind of element configurable. In other words, these allow for an applet to be swapped out with another that takes the same, or a subset of the actions and data output.
        `
      }) }}

      {{ await comp.element({
        title: "Engines",
        items: engines,
        content: `
          Elements with each a singular purpose and don't have any UI. There are specialised UI and orchestrator elements that control these.
        `
      }) }}

      {{ await comp.element({
        title: "Input",
        items: input,
        content: `
        Inputs are sources of audio tracks. Each track is an entry in the list of possible items to play. These can be files or streams, static or dynamic.
        `
      }) }}

      {{ await comp.element({
        title: "Orchestrators",
        items: orchestrators,
        content: `
        These too are element compositions. However, unlike themes, these are purely logical. Mostly exist in order to construct sensible defaults to use across themes and other compositions.
        `
      }) }}

      {{ await comp.element({
        title: "Output",
        items: output,
        content: `
        Output is application-derived data such as playlists. These elements can receive such data and keep it around.
        `
      }) }}

      {{ await comp.element({
        title: "Processors",
        items: processors,
        content: `
        These elements work with the tracks generated by the input applets to add more data to them, or process them in some other way.
        `
      }) }}

      {{ await comp.element({
        title: "Supplements",
        items: supplements,
        content: `
        Additional elements, such as scrobblers.
        `
      }) }}
    </div>
  </section>

  <!-- DEMOS -->
  <!--<section>
    <h2 id="demos">Demos</h2>

    <p>Just some utility web pages to help demo the system.</p>

    <List items={demos} />
  </section>-->

  <!-- BUILD YOUR OWN -->
  <!--<section></section>-->
</main>
