body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header,
main {
  margin: var(--space-md) var(--space-lg);
}

a {
  color: inherit;
  text-underline-offset: 6px;
}

h1 {
  margin: var(--space-lg) 0 var(--space-lg);
  padding-top: var(--space-2xs);
}

h1 svg {
  fill: oklch(from var(--bg-color) calc(l - 0.5) c h);
  opacity: 0.125;

  @media (prefers-color-scheme: dark) {
    & {
      fill: var(--text-color);
      opacity: 0.25;
    }
  }
}

h2 {
  /* color: oklch(from var(--bg-color) calc(l - 0.25) c h); */
  color: var(--accent);

  font-size: var(--fs-xl);
  font-weight: 900;
  letter-spacing: -0.0125em;
  line-height: 1;
  margin: var(--space-2xl) 0 var(--space-md);
  text-transform: uppercase;
}

h3 {
  font-size: var(--fs-md);
  font-weight: 800;
  line-height: 1;
  margin: var(--space-xl) 0 var(--space-sm);
  text-transform: uppercase;
}

h2 + h3 {
  margin-top: var(--space-md);
}

ul,
ol {
  padding-left: var(--space-md);
}

p,
ul,
ol {
  margin: var(--space-sm) 0;
  max-width: var(--container-sm);
}

small {
  font-size: var(--fs-xs);
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--space-3xl);
}

.construct {
  color: oklch(from currentColor l c h / 0.65);
  font-size: var(--fs-2xl);
  font-weight: 900;
  letter-spacing: -0.0125em;
  line-height: 0.775em;
  line-height: 1.05cap;
  margin-bottom: var(--space-md);
  max-width: var(--container-xl);
  text-transform: uppercase;
}

.element {
  min-width: min(var(--container-xs), 100%);
  width: 32.5%;
}

.list-description {
  font-size: var(--fs-xs);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-2xs);
  opacity: 0.6;
}

.todo {
  font-size: var(--fs-sm);
  font-weight: 600;
  opacity: 0.4;
}
