---
layout: layouts/diffuse.vto

# THEMES

themes:
  - url: "themes/blur/"
    title: "Blur"
    todo: true
    desc: >
      **A DJ theme with an Apple-inspired playback view.** Features two audio players instead of the usual one.
  - url: "themes/webamp/"
    title: "Webamp"
    desc: >
      **Winamp 2 + Windows 98**. Uses Webamp as the audio player connected to various Diffuse elements. Also features a desktop-like Windows 98 environment in which you can open "programs" that control the used Diffuse elements.

# ELEMENTS

configurators:
  - title: "Input"
    desc: "Add multiple inputs."
    todo: true
  - title: "Output"
    desc: "Allows the user to configure a specific output."
    todo: true
  - title: "Scrobbles"
    desc: "Configure multiple scrobblers (music trackers)."
    todo: true

engines:
  - url: "components/engine/audio/element.js"
    title: "Audio"
    desc: "Plays audio through audio elements."
  - url: "components/engine/queue/element.js"
    title: "Queue"
    desc: "A simple queue for tracks. NOTE: Temporarily automatically adds tracks shuffled to the queue."

input:
  - url: "components/input/opensubsonic/element.js"
    title: "Opensubsonic"
    desc: "Add any (open)subsonic server."
  - url: "components/input/s3/element.js"
    title: "S3"
    desc: "AWS S3 and services that provide the same surface API such as Cloudflare R2."
    todo: true

orchestrators:
  - url: "components/orchestrator/process-tracks/element.js"
    title: "Process inputs into tracks"
    desc: "Whenever the cached tracks are initially loaded through the passed output element it will contextualize and then list tracks by using the passed input element. Afterwards it loops over all tracks and checks if metadata needs to be fetched. If anything has changed, it'll pass the results to the output element."
  - url: "components/orchestrator/queue-audio/element.js"
    title: "Queue ⭤ Audio"
    desc: "Connects the given queue engine to the given audio engine."
  - url: "components/orchestrator/queue-tracks/element.js"
    title: "Queue ⭤ Tracks"
    desc: "Sets the given queue element pool whenever the tracks signal from the given output changes."
  - url: "components/orchestrator/search-tracks/element.js"
    title: "Search ⭤ Tracks"
    desc: "Supplies tracks to the given search processor whenever the tracks collection changes."

output:
  - url: "components/output/polymorphic/indexed-db/element.js"
    title: "Polymorphic / IndexedDB"
    desc: "Stores output into the local indexedDB. Supports any type of data that indexedDB supports."

processors:
  - url: "components/processor/artwork/element.js"
    title: "Artwork"
    desc: "Fetches cover art for a given set of tracks, stored locally in indexedDB. Checks the audio metadata first, then MusicBrainz and uses Last.fm as the fallback."
  - url: "components/processor/metadata/element.js"
    title: "Metadata"
    desc: "Fetch audio metadata for a given set of tracks, adding to the `Track` object."
  - url: "components/processor/search/element.js"
    title: "Search"
    desc: "Provides a way to search through a collection of tracks, powered by orama.js"

supplements:
  - title: "Last.fm scrobbler"
    todo: true
  - title: "ListenBrainz scrobbler"
    todo: true
  - title: "Rocksky scrobbler"
    todo: true
  - title: "Teal.fm scrobbler"
    todo: true

transformers:
  - title: "Output / Bytes / Cambria lenses"
    desc: "Uses the Cambria library to seamlessly translate between data schemas so that no data migration is needed."
    todo: true
  - title: "Output / Bytes / JSON"
    desc: "Raw data schema output ⇄ JSON Uint8Array."
    todo: true
  - title: "Output / String / JSON"
    desc: "Raw data schema output ⇄ JSON UTF8 string."
    url: "components/transformer/output/string/json/element.js"

# DEFINITIONS

definitions:
  - title: "Output / Favourites"
    desc: "Indicate a user's favourite audio. Not a property of a track because tracks are associated with a specific source. Favourites may match with multiple tracks. Specified using the audio's title and artist."
    todo: true
  - title: "Output / Playlist"
    desc: "Just like favourites, does not refer to specific tracks. Unlike favourites, must also specify the album. Can also be considered a collection which is basically an unordered playlist."
    todo: true
  - title: "Output / Progress"
    desc: "Used to track progress of (long) audio playback."
    todo: true
  - title: "Output / Tracks"
    desc: "Represents audio that can be played, or a placeholder for a source of tracks. Contains a URI that will resolve to the audio. This object may be cached if convenient."
    url: "definitions/output/tracks.json"

---
<link rel="stylesheet" href="index.css" />

<header>
  <h1>
    <svg viewBox="0 0 902 134" width="160">
      <title>Diffuse</title>
      <use
        xlink:href="images/diffuse-current.svg#diffuse"
        href="images/diffuse-current.svg#diffuse"></use>
    </svg>
  </h1>
  <p>
    Diffuse is a collection of custom elements that make it possible to
    listen to audio from various sources on your devices and the web, and to create the ideal digital
    listening experience for you.
  </p>
  <p>
    <strong>⚠️ Heavily experimental</strong>
  </p>
</header>
<main>
  <div class="columns">
    <!-- THEMES -->
    <section>
      <h2 id="themes">Themes</h2>

      <p>
        Themes are compositions and provide a traditional browser web application way of
        using them. Each theme is unique, not just a skin (ie. not like winamp skins).
      </p>

      <p>
        For example, most themes here will limit the currently playing audio tracks to one item,
        but you might as well create a DJ theme that can play multiple items at the same time.
      </p>

      {{ await comp.list({ items: themes }) }}
    </section>

    <!-- ABSTRACTIONS -->
    <!--<section></section>-->
  </div>

  <!-- ELEMENTS -->
  <section>
    <h2 id="elements">Elements</h2>

    <p>
      The (web) components of the system. These
      are then recombined into an entire music player experience, or whatever you want to build.
    </p>

    <div class="columns">
      {{ await comp.element({
        title: "Configurators",
        items: configurators,
        content: `
          Elements that serve as an intermediate in order to make a particular kind of element configurable. In other words, these allow for an element to be swapped out with another that takes the same set of the actions and data output.
        `
      }) }}

      {{ await comp.element({
        title: "Engines",
        items: engines,
        content: `
          Elements with each a singular purpose and don't have any UI. There are specialised UI and orchestrator elements that control these.
        `
      }) }}

      {{ await comp.element({
        title: "Input",
        items: input,
        content: `
        Inputs are sources of audio tracks. Each track is an entry in the list of possible items to play. These can be files or streams, static or dynamic.
        `
      }) }}

      {{ await comp.element({
        title: "Orchestrators",
        items: orchestrators,
        content: `
        These too are element compositions. However, unlike themes, these are purely logical. Mostly exist in order to construct sensible defaults to use across themes and other compositions.
        `
      }) }}

      {{ await comp.element({
        title: "Output",
        items: output,
        content: `
        Output is application-derived data such as playlists. These elements can receive such data and keep it around. These are categorised by the type of data they ingest, or many types in the case of polymorphic.
        `
      }) }}

      {{ await comp.element({
        title: "Processors",
        items: processors,
        content: `
        These elements work with the output generated by the input elements to add more data to them, or process them in some other way.
        `
      }) }}

      {{ await comp.element({
        title: "Supplements",
        items: supplements,
        content: `
        Additional elements, such as scrobblers.
        `
      }) }}

      {{ await comp.element({
        title: "Transformers",
        items: transformers,
        content: `
        Transform data from one format or schema into another. See schema section below for more information. Just as configurators, these are intermediates and require to have the same set of actions as the element it targets.
        `
      }) }}
    </div>
  </section>

  <!-- DEFINITIONS -->
  <section>
    <h2 id="definitions">Definitions</h2>

    <p>All of the elements here are built with these data definitions in mind. That said, you can mix elements that use different definitions; you just have to put a transformer between them in order to translate between them.</p>

    {{ await comp.list({ items: definitions }) }}
  </section>

  <!-- DEMOS -->
  <!--<section>
    <h2 id="demos">Demos</h2>

    <p>Just some utility web pages to help demo the system.</p>

    <List items={demos} />
  </section>-->

  <!-- BUILD YOUR OWN -->
  <!--<section></section>-->
</main>
