<ul>
  {{ for index, item of items }}
    <li data-uri="{{ item.url |> facetOrThemeURI }}" data-name="{{item.title}}">
      <div style="position: relative;">
        <a href="{{ item.url |> facetLoaderURL }}">
          {{item.title}}
        </a>
        <button
          class="button--fixed button--transparent"
          popovertarget="facet-menu-{{id}}-{{index}}"
          style="anchor-name: --facet-anchor-{{id}}-{{index}}; position: absolute; right: 0; top: 50%; transform: translateY(-50%);"
        >
          <i class="ph-fill ph-dots-three-circle"></i>
        </button>
      </div>
      <div class="list-description">
        {{item.desc |> md(true)}}
      </div>

      <!-- Dropdown Menu -->
      <div
        id="facet-menu-{{id}}-{{index}}"
        class="dropdown"
        style="position-anchor: --facet-anchor-{{id}}-{{index}}"
        popover
      >
        <a href="{{ item.url |> facetLoaderURL }}">
          <span class="with-icon">
            <i class="ph-fill ph-globe"></i> Open
          </span>
        </a>
        <a rel="save">
          <span class="with-icon">
            <i class="ph-fill ph-download"></i> Save
          </span>
        </a>
        <a rel="fork">
          <span class="with-icon">
            <i class="ph-fill ph-cursor-text"></i> Edit
          </span>
        </a>
      </div>
    </li>
  {{ /for }}
</ul>
