<ul>
  {{ for item of items }}
    <li>
      <span>{{item.title}}</span>
      <div class="list-description">
        <div class="button-row">
          <a href="facets/l/?url={{encodeURIComponent(item.url)}}" class="button">Try</a>
          <!--<button style="background-color: var(--accent-twist-1);">Save</button>-->
          <!--<button style="background-color: var(--accent-twist-2);">Fork</button>-->
        </div>
        <div>
          {{item.desc |> md(true)}}
        </div>
      </div>
    </li>
  {{ /for }}
</ul>
