<div class="grid-filter">
  <span class="grid-filter--label">Filter by</span>

  <button class="button--border button--tiny" data-filter="all">All</button>
  <button class="button--border button--tiny button--bg-twist-4 button--tr-twist-4 button--transparent" data-filter="prelude">Features</button>
  <button class="button--border button--tiny button--bg-twist-2 button--tr-twist-2 button--transparent" data-filter="interface">Interfaces</button>

  <div style="flex: 1"></div>

  <span class="grid-filter--label grid-filter--label-output">Userdata from</span>
  <span class="grid-filter--output"></span>
</div>

<ul class="grid" style="margin-top: var(--space-xs);">
  {{ for index, item of items }}
    {{ set color = (() => {
      switch (item.kind) {
        case "prelude": return "var(--accent-twist-4)";
        default: return "var(--accent-twist-2)";
      }
    })() }}

    {{ set kind = (() => {
      // return item.kind ?? "interactive"
      switch (item.kind) {
        case "prelude": return "feature";
        default: return "interface";
      }
    })() }}

    <li
      class="grid-item"
      data-active-color="{{color}}"
      data-description="{{item.desc.trim()}}"
      data-name="{{item.title}}"
      data-kind="{{item.kind ?? `interface`}}"
      data-uri="{{ item.url |> facetURI }}"
    >
      <div
        class="grid-item__contents"
        style="--grid-item-color: {{color}}"
      >
        <div class="grid-item__title">
          {{ if item.kind === "prelude" }}
            <span style="color: {{ color }}; padding: var(--space-3xs) 0">
              {{item.title}}
            </span>
          {{ else }}
            <a href="{{ item.url |> facetLoaderURL }}" style="color: {{ color }}; padding: var(--space-3xs) 0">
              {{item.title}}
            </a>
          {{ /if }}
          <span style="flex: 1"></span>
        </div>
        <div class="list-description">
          {{ item.desc |> md(true) }}
        </div>
      </div>
    </li>
  {{ /for }}
</ul>
