<div class="grid-filter">
  <span class="grid-filter--label">Filter by</span>

  <button class="button--border button--tiny" data-filter="all">All</button>
  <button class="button--border button--tiny button--bg-twist-4 button--tr-twist-4 button--transparent" data-filter="prelude">Features</button>
  <button class="button--border button--tiny button--bg-twist-2 button--tr-twist-2 button--transparent" data-filter="interface">Interfaces</button>

  <button class="button--border button--tiny button--transparent" title="Show the hidden essential features" data-filter="base">Base</button>

  <div style="flex: 1"></div>

  <span class="grid-filter--label">Category</span>
  <div class="grid-filter--categories"></div>
</div>

<ul class="grid" style="margin-top: var(--space-xs);">
  {{ for index, item of items }}
    {{ set color = (() => {
      switch (item.kind) {
        case "prelude": return "var(--accent-twist-4)";
        default: return "var(--accent-twist-2)";
      }
    })() }}

    {{ set kind = (() => {
      // return item.kind ?? "interactive"
      switch (item.kind) {
        case "prelude": return "feature";
        default: return "interface";
      }
    })() }}

    {{ set facetUri = item.url |> facetURI }}

    <li
      class="grid-item"
      style="--grid-item-color: {{color}}"
      data-active-color="{{color}}"
      data-description="{{item.desc.trim()}}"
      data-name="{{item.title}}"
      data-category="{{ item.category ?? `` }}"
      data-kind="{{item.kind ?? `interface`}}"
      data-tags="{{ item.tags?.join(',') ?? `` }}"
      data-uri="{{ facetUri }}"
    >
      <div class="grid-item__contents">
        <div class="grid-item__title">
          {{ if item.kind === "prelude" }}
            <span style="color: {{ color }}; padding: var(--space-3xs) 0">
              {{item.title}}
            </span>
          {{ else }}
            <a href="{{ item.url |> facetLoaderURL }}" style="color: {{ color }}; padding: var(--space-3xs) 0">
              {{item.title}}
            </a>
          {{ /if }}
          <span style="flex: 1"></span>
        </div>
        <div class="list-description">
          {{ item.desc |> md(true) }}
        </div>
      </div>
      <div class="grid-item__menu">
        <button
          class="button--transparent"
          data-action="toggle"
          style="opacity: 0"
          title="{{ item.kind === `prelude` ? `Add` : `Bookmark` }}"
        >
          <i class="ph-bold {{ item.kind === `prelude` ? `ph-plus` : `ph-bookmark` }}"></i>
        </button>
        <hr />
        <button
          class="button--transparent"
          title="More actions"
          popovertarget="grid-item-menu-{{ index }}"
        >
          <i class="ph-bold ph-dots-three-vertical"></i>
        </button>
        <div id="grid-item-menu-{{ index }}" class="dropdown" popover>
          <a class="with-icon" href="code/?uri={{ encodeURIComponent(facetUri) }}&name={{ encodeURIComponent(item.title) }}&kind={{ item.kind ?? `interface` }}&description={{ encodeURIComponent(item.desc.trim()) }}">
            <i class="ph-fill ph-code-block"></i>
            Open code in editor
          </a>
        </div>
      </div>
    </li>
  {{ /for }}
</ul>
