{{ set colorClass = (path) => url === "/" + path ? 'button--bg-twist-2' : 'button--transparent' }}
{{ set slug = (cat) => cat.toLowerCase().replace(/\s+/g, '-') }}

<nav>
  <a href="guide/" class="button {{ colorClass("guide/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-book-open-text"></i>
      Guide
    </span>
  </a>

  <a href="dashboard/" class="button {{ colorClass("dashboard/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-person"></i>
      Your Diffuse
    </span>
  </a>

  <a href="featured/" class="button {{ colorClass("featured/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-sparkle"></i>
      Featured
    </span>
  </a>

  <a href="build/" class="button {{ colorClass("build/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-hammer"></i>
      Build
    </span>
  </a>

  <div class="divider"></div>

  <a href="data/" class="button {{ colorClass("data/") }} button--border">
    Input & Output
  </a>

  <a href="playback/" class="button {{ colorClass("playback/") }} button--border">
    Playback
  </a>

  <a href="browsing/" class="button {{ colorClass("browsing/") }} button--border">
    Browsing
  </a>

  <a href="misc/" class="button {{ colorClass("misc/") }} button--border">
    <span class="with-icon">
      <i class="ph-fill ph-treasure-chest"></i>
    </span>
  </a>
</nav>
