<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../../styles/theme/blur/index.css" />

    <script type="module">
      import "../../elements/constituent/blur/browser-list.js";
    </script>
  </head>
  <body>
    <constituent-blur-browser-list></constituent-blur-browser-list>
  </body>
</html>
