<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../../styles/theme/blur/index.css" />
  </head>
  <body>
    <de-audio id="deck-a"></de-audio>
    <de-queue id="deck-a"></de-queue>

    <dp-metadata></dp-metadata>

    <main>
    </main>

    <script src="index.js" type="module"></script>
  </body>
</html>
