<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../../styles/theme/blur/index.css" />
  </head>
  <body>
    <de-audio id="deck-a"></de-audio>
    <de-queue id="deck-a"></de-queue>

    <di-opensubsonic></di-opensubsonic>
    <do-indexed-db id="output"></do-indexed-db>
    <dp-metadata></dp-metadata>

    <do-process-tracks
      input-selector="di-opensubsonic"
      metadata-processor-selector="dp-metadata"
      output-selector="do-indexed-db"
    ></do-process-tracks>

    <main>
    </main>

    <script src="index.js" type="module"></script>
  </body>
</html>
