:root,
:host {
  --bg-color: oklch(100% 0 0);
  --text-color: oklch(14% 0 0);
}

@media (prefers-color-scheme: dark) {
  :root,
  :host {
    --bg-color: oklch(19% 0.006 265);
    --text-color: oklch(86% 0 0);
  }
}
